{% extends "page.html" %}

{% block subtitle %}{{ _('Reminders') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Reminders'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module"></section>
    <article class="module">
      <div class="module-content">
        {% block about %}
            <h1 class="page-heading">{{ _('Create a Reminder') }}</h1>
        {% endblock %}

        {% import 'macros/form.html' as form %}
        <form id="reminder-edit" class="dataset-form form-horizontal" method="post" data-module="basic-form" action="/reminders/savereminder">
            {{ form.input('email', label=_('Email'), placeholder=_('Email Address'), value='', error=error, classes=['control-full', 'control-large']) }}
            {{ form.select('category', label=_('Category'), options=[{'value': 'Elimu'}, {'value': 'Afya'}, {'value': 'Mifugo'}, {'value': 'Maji'}], selected='Daily', error=error, classes=['control-full', 'control-large']) }}
            {{ form.select('duration', label=_('Duration'), options=[{'value': 'Daily'}, {'value': 'Weekly'}, {'value': 'Monthly'}, {'value': 'Yearly'}], selected='Daily', error=error, classes=['control-full', 'control-large']) }}

            <div class="form-actions">
              <button class="btn btn-primary" name="save" type="submit">Save Reminder</button>
            </div>
        </form>
      </div>
    </article>
  </section>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Reminders?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          Reminders are used to remind you to upload document or dataset on a certain group or category.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}