{% extends "page.html" %}

{% block subtitle %}{{ _('Reminders') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Reminders'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module"></section>
    <article class="module">
      <div class="module-content">
        {% block about %}
            <h2 class="page-heading">Your document upload reminder has been set.</h2>
        {% endblock %}

        
      </div>
    </article>
  </section>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Reminders?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
          Reminders are used to remind you to upload document or dataset on a certain group or category.
        {% endtrans %}
      </p>
    </div>
  </div>
{% endblock %}